@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium.ttf')
}

.sectionProjects {
    padding: 120px 0;
    max-width: 1024px;
    margin: auto;
}

.header-project h3 {
    margin-bottom: 10px;
}

.header-project p {
    display: inline-block;
    margin-bottom: 20px;
}

.header-project div {
    color: #aaa;
}

.header-project button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #aaa;
    margin: 0 5px;
}

.header-project button:hover {
    color: #575758;
}

.header-project .project-selected {
    color: #575758;
}

.container-projects {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    margin: 20px 0;
    border-radius: 10px;
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h4 img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    position: relative;
    left: -5px;
}

.project h4 {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
}

.project a {
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 7px 15px;
    margin-right: 10px;
    font-size: 16px;
}

.project a:last-child {
    position: relative;
    top: -3px;
}

.project a svg {
    margin-right: 5px;
}

.project a:hover {
    color: #1872fa;
    border-color: #1872fa;
    box-shadow: 0 0 0 3px#1872fa30;
}

.project a:hover svg path {
    fill: #1872fa;
}

.container-img-project {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eee;
    position: relative;
    margin: 20px 0;
    max-height: 230px;
}

.container-img-project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.divAngle {
    width: 30px;
    display: flex;
    justify-content: space-between;
}

.divAngle svg {
    margin: 0 2px;
    padding: 5px;
    cursor: pointer;
}