.section-service {
    margin: auto;
    max-width: 1024px;
    padding: 60px 0;
    animation: fade .5s 1;
    position: relative;
}

@keyframes fade {
    0% {
        opacity: .3;
        top: 20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.section-service h2 {
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
}

.section-service h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #aaa;
}

.section-service-p {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
}

.section-service span {
    font-size: 22px;
    display: block;
    text-align: center;
    font-weight: 900;
}

.section-service>div {
    border-radius: 10px;
    margin: 60px auto;
}


.section-service .app-list {
    margin-top: 60px;
}

.divisor {
    height: 2px;
    width: 300px;
    background: #eee;
}