.section-service-ecommerce {
    max-width: 1024px;
    margin: 120px auto;
}

.ecommerce-title {
    font-weight: 300;
    margin: 10px 0 5px;
    font-size: 26px;
}

.description-config {
    font-size: 18px;
    display: block;
    margin-bottom: 40px;
}

.subtitle-section {
    font-size: 18px;
    margin: 10px 0;
}

.content-ecommerce-list {
    margin: 10px 0 80px;
    display: block;
}

.data-hosting-domain p {
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}

.start-project {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    
}

.start-project div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
    border-radius: 30px;
    border: 1px solid #ddd;
}

.start-project div svg {
    position: relative;
    transition: .3s;
}

.start-project div svg path {
    fill: #1872fa;
}

.start-project span {
    color: #1872fa;
    font-size: 18px;
}

.start-project:hover div svg {
    animation: startProject 1s infinite;
}

@keyframes startProject {
    0% {
        top: 0
    }

    50% {
        top: 3px;
    }

    100% {
        top: 0;
    }
}

@media screen and (max-width: 1100px) {
    .section-service-ecommerce {
        max-width: 680px;
    }
}

@media screen and (max-width: 700px) {
    .section-service-ecommerce {
        max-width: 100%;
        padding: 0 20px;
    }
}
