.option-config {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    cursor: pointer;
}


.option-config .btn-expand {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.option-config:hover .btn-expand svg path {
    fill: #1872fa;
}

.option-config:hover .btn-expand {
    background: #f9f9f9;
}

.option-config span {
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.option-config span button {
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background: none;
    cursor: pointer;
}

.btn-add {
    color: #1872fa;
}

.btn-add:hover {
    border-color: #1872fa;
    box-shadow: 0 0 0 3px #1872fa30;
}

.btn-remove {
    color: #ec575a;
}

.btn-remove:hover {
    border-color: #ec575a;
    box-shadow: 0 0 0 3px #ec575a30;
}

.option-config p {
    font-size: 16px;
    color: #7d7d7d;
}