.option-config {
    padding: 15px 0;
    background: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    cursor: pointer;
}


.option-config .btn-expand {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.option-config:hover .btn-expand svg path {
    fill: var(--primary);
}

.option-config:hover .btn-expand {
    background: #f9f9f9;
}

.section-service .option-config span {
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    text-align: start;
    font-weight: 300;
    color: var(--primary);
}

.option-config li::first-letter {
    padding: 0  15px 0 30px;
    color: #aaa;
    font-size: 13px;
}

.option-config li {
    font-size: 18px;
    margin: 5px 0;
    display: block;
}

.option-config span button {
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    background: none;
    cursor: pointer;
}


.option-config p {
    font-size: 16px;
    color: #7d7d7d;
}