.section-home {
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 735px;
    background: #fff;
}

.section-home>div {
    max-width: 1024px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-home>div>div {
    max-width: 600px;
}

.title {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}

.title>span {
    font-size: 26px;
    color: #aaa;
    display: block;
}

.location {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    color: #7d7d7d;
}

.location a {
    color: #7d7d7d;
}

.location a:hover {
    text-decoration: underline;
}

.container-img-home {
    border-radius: 50%;
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
    height: 300px;
    width: 300px;
    box-shadow: 0 20px 20px -10px #00000020;
}

.container-img-home img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.31);
}

.container-brief-description {
    margin: 30px 0;
}

.brief-description {
    font-size: 25px;
    line-height: 30px;
}

.btn-service,
.btn-projects {
    padding: 7px 15px;
    border: 1px solid #1872fa;
    border-radius: 30px;
    display: inline-block;
    font-size: 16px;
}

.btn-service {
    background: #1872fa;
    color: #fff;
}

.section-home .btn-projects {
    margin: 20px 10px 10px 0;
}

.btn-projects {
    background: #fff;
    color: #1872fa;
}

.btn-service:hover,
.btn-projects:hover {
    box-shadow: 0 0 0 3px#1872fa30;
}

@media screen and (max-width: 1100px) {
    .section-home>div {
        max-width: 680px;

    }

    .container-img-home {
        min-height: 250px;
        min-width: 250px;
        height: 250px;
        width: 250px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 700px) {

    .section-home {
        width: 100%;
        height: auto;
        min-height: max-content;
        background: #fff;
        padding: 80px 0 120px;
    }

    .section-home>div {
        max-width: 100%;
        padding: 0 20px; 
    }

    .container-img-home {
        display: none;
    }

    .title {
        font-size: 34px;
        line-height: 34px;
    }
}
