nav {
    max-width: 1024px;
    margin: auto;
}

nav ul {
    position: relative;
    display: flex;
    width: 360px;  
    margin: auto;  
}

nav ul li a {
    padding: 10px;
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 18px;
}

nav div {
    background: #aaaaaa15;
    padding: 5px;
    position: absolute;
    bottom: 2.5px;
    width: 120px;
    height: 40px;
    pointer-events: none;
    border-radius: 10px;
    transition: .3s;
}

.service div {
    left: 0;
}

.service li:first-child a{
    color: var(--primary);
}

.jobs div {
    left: 120px;
}

.jobs li:nth-child(2) a{
    color: var(--primary);
}

.projects div {
    left: 240px;
}

.projects li:nth-child(3) a{
    color: var(--primary);
}

@media screen and (max-width: 1100px) {

}