.sectionStudies {
    height: 93%;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.study {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    height: 100%;
    min-height: 400px;
}

.study>div {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}


.study>div h4 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    min-width: calc(100% - 100px);
}

.study>div h4 span {
    display: block;
    color: #ccc;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins';

}

.studyContainerImg {
    min-width: 80px;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.studyContainerImg img {
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}

.study ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0;
    padding: 5px 10px;
    gap: 10px;
}

.study ul li a {
    position: relative;
    top: 4px;
}

.study ul li a:hover .svgChange {
    fill: #1872fa;
}

.study ul li a:hover path,
.study ul li a:hover circle {
    stroke: #1872fa;
}

.divisor-v {
    height: 300px;
    width: 2px;
    background: #eee;
}


@media screen and (max-width: 1000px) {
    .sectionStudies {
        justify-content: start;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    .study {
        width: 100%;
        min-height: fit-content;
    }

    .divisor-v {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    .study {
        width: 100%;
        padding: 0;
    }
}